*{box-sizing:border-box;}  
.carro{
      position: absolute;
      left: 450px;
      top: 100px;
      
}

nav ul{
    display: inherit;
    
}

nav a{   
      position: absolute;
      left: 20px;
      text-decoration:none;
      color:inherit;
      font-size:14px;
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      }
            
nav li{
      display:inline-block;
      width:165px;
      height:30px;
      padding:5px 10px;
      background-color:#ffffff;  
      border-right:1px solid #ffffff;
      text-align:center;
      font-weight: 500;
      color:rgb(0, 0, 0);
      position:relative;
      margin: -2px;
}
            
nav li:hover{
      background-color:#a59a9a;
      color:rgb(0, 0, 0);
      border-color: #000000;   
}
            
nav li>ul{
      display:none;
      }

nav li:hover>ul{
      display:block;
      position:absolute;
      top:30px;
      left:0px;
      padding: 0px;
      margin: 0px;
}